<div class="artist-artworks content">
  <h3> ARTWORKS </h3>

  <div class="col-xs-4">
    <img src="http://placehold.it/350x300?text=1" width="200" height="200">
  </div>
  <div class="col-xs-8">
    <h4>title</h4>
    <h4>description</h4>
    <h6>size</h6>
    <h4>status</h4>
    <h4>rent price</h4>
  </div>
</div>