<div class= "artist-settings content" style="display: none;">
  <h3> SETTINGS </h3>
  <h4> Edit Account information</h4>
  <h5> name</h5>
  <input></input>

  <!-- <h4> upload profile image </h4>
  <input type='file' /> -->

  <button type="button" class="btn btn-secondary-outline" id="artist-avatar-upload">Upload</button>

  <img id="myImg" src="#" alt="your image" />
</div>