<div class= "artist-settings content" style="display: none;">
  <h3> SETTINGS </h3>
  <h4> Edit Account information</h4>
  <form id="edit-artist-info-form">
    <%= current_artist.avatar %>

    <h4> Edit Account information</h4>
    <h5> Full Name</h5>
    <input type="text" name="name">
    <h5> Username</h5>
    <input type="text" name="username">
    <h5> Website</h5>
    <input type="text" name="website">
    <h5> Contact</h5>
    <input type="text" name="contact">
    <h5> Description</h5>
    <input type="text" name="description">

    <h5> Profile Image </h5>
    <input type="file" name="avatar" multiple>

    <button  type="submit"> Edit</button>
  </form>
</div>