<div class="profile">
<img src="https://d1iu1mag0u723c.cloudfront.net/assets/no-avatar-25359d55aa3c93ab3466622fd2ce712d.jpg" width="200" height="200" class="circle">
<button id="logout-button">Logout</button>

<%= current_artist.email %>

<h3>Name</h3>
<h3>location</h3>
<h4>bio</h4>

<li>Upload Art</li>
<li> Settings</li>
<li>Show artwork</li>

<div>
<div class="row"></div>
<div class="col-xs-4">
  <img src="http://placehold.it/350x300?text=1">
</div>
<div class="col-xs-8">
  <h4>title</h4>
  <h4>description</h4>
  <h6>size</h6>
  <h4>status</h4>
  <h4>rent price</h4>
</div>
</div>


</div>
<div class= "row">
<div class="col-xs-12">
<h3> Settings </h3>
<h4> Edit Account information</h4>
<h5> name</h5>
<input></input>
<h4> upload profile image </h4>

<input type='file' />
<img id="myImg" src="#" alt="your image" />
</div>

</div>
