<div id="header-page">
  <img class="header-page-img" src="https://i.imgsafe.org/175619eaa0.jpg">
  <div class="header-page-text" >
  <h1> Art Rental </h1>
  <h4> Find an artwork to decorate your place...</h4>
  <button class="btn btn-info search_category_button"> Search </button>
  </div>
</div>

<div id="category-div">

  <h1 class="center"> CATEGORIES </h1>
    <ul class="center" >
      <li class="categories-inline">
        <img class="to-small-cat" src="https://s32.postimg.org/n81sj1gjp/IMG_4471.jpg" width="300" height="300">
        <div></div>
        <button class="search_category_button clear-button " data-category="abstract" > ABSTRACT </button>
      </li class="categories-inline">
      <li class="categories-inline">
        <img class="to-small-cat" src="https://s32.postimg.org/654p7e0o5/landscape.jpg" width="300" height="300">
        <div></div>
        <button class="search_category_button clear-button " data-category="landscape" > LANDSCAPE </button>
      </li>
      <li class="categories-inline">
        <img class="to-small-cat" src="https://i.imgsafe.org/17582569ab.jpg" width="300" height="300">
        <div></div>
        <button class="search_category_button clear-button " data-category="portrait" > PORTAIT </button>
      </li>
      <li class="categories-inline">
        <img class="to-small-cat" src="https://s32.postimg.org/vb6xpdeyd/blue.jpg" width="300" height="300">
        <div></div>
        <button class="search_category_button clear-button " data-category="sculpture" > SCULPTURE </button>
      </li>
      <li class="categories-inline">
        <img class="to-small-cat" class="to-small-cat" src="https://s32.postimg.org/83ng9spet/portraits.jpg" width="300" height="300">
        <div></div>
        <button class="search_category_button clear-button " data-category="graphic" > GRAPHIC </button>
      </li>
      <li class="categories-inline">
        <img class="to-small-cat" src="https://s32.postimg.org/50ig7dlv9/IMG_4476.jpg" width="300" height="300">
        <div></div>
        <button class="search_category_button clear-button " data-category="oil" > OIL </button>
      </li>
    </ul>

</div>

<!-- container searched results match category -->
<div class= "search-artwork" id="search-category-artwork"> </div>

<!-- MODAL RESERVATIOM - FOR ART WROK -->
<div id="reservation-artwork-Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> RESERVATION </h4>
      </div>

      <div class="reservation-artworks-details-container">
        <p>Some text in the modal.</p>
      </div>

      <div class= "reservation-picked-date">
        <!-- ARTIST TWO CALENDARS -->
        <div class="row">
          <div class='col-sm-6'>
            <div class="form-group">
              <div class='input-group date' id='datetimepicker-open-reservation'>
                <input type='date' class="form-control" />
              </div>
            </div>
          </div>

          <div class='col-sm-6'>
            <div class="form-group">
              <div class='input-group date' id='datetimepicker-close-reservation'>
                <input type='date' class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-success reservation-date-button">RENT</button>
      </div>

    </div>
  </div>
</div>

