<div class= "profile-page-boarder">

<!-- TOP PROFILE -->
<div class="row">
  <!-- PICTURE  -->
  <div class= "col-xs-3 public-artist-profileimage">
    <img src="" width="200" height="200" class="circle">
  </div>
  <!-- PROFILE INFORMATION -->
  <div >
    <div class= "col-xs-6 public-artist-info">
      <h1 >name</h1>
      <h3> des </h3>
    </div>
    <!-- CONTACT INFORMATION -->
    <div class= "col-xs-3 pull-right  public-artist-contact">
      <h3> contact </h3>
    </div>
  </div>
</div>
 <hr>

<div class= "public-artist-artwork">

</div >


  <hr>
</div>

