<div class= "rentee-settings content" style="display: none;">
  <h3> SETTINGS </h3>
  <h4> Edit Account information</h4>
  <form id="edit-rentee-info-form">
    <h5>name</h5>
    <input type="text" name="name">
    <!-- <h5>email</h5> -->
    <h5>username</h5>
    <input type="text" name="username">
    <h5>nickname</h5>
    <input type="text" name="nickname">
    <h5>description</h5>
    <input type="text" name="description">
    <h5>website</h5>
    <input type="text" name="website">
    <h5>contact</h5>
    <input type="text" name="contact">
    <h5>location</h5>
    <input type="text" name="location">
    <h5>business_type</h5>
    <input type="text" name="business_type">
    <h5> Profile Image </h5>
    <input type="file" name="avatar" multiple>
    <button  type="submit"> Edit</button>
  </form>
</div>