<div class="rentee-gallery content">
  <!-- GALLERY -->
  <h1> Gallery </h1>
    <div id="galleries-index">
    </div>

  <div id="rentee-description">
    <p> bio: bla bla bla this is a paragraph</p>
  </div>

  <!-- MAP -->
  <div id="map"></div>

  <!-- modal for updating gallery -->

  <div id="update-gallery-Modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> EDIT EDTAILS OF GALLERY </h4>
        </div>
        <div class="update-gallery-details-container">
          <p>Some text in the modal.</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>