<div class="rentee-gallery content">
  <!-- GALLERY -->
  <h1> Gallery </h1>
    <div id="galleries-index">
    </div>

  <div id="rentee-description">
    <p> bio: bla bla bla this is a paragraph</p>
  </div>

  <!-- MAP -->
  <div id="map"></div>
</div>