<div class="rentee-gallery content">
  <!-- GALLERY -->
  <h1> Gallery </h1>
    <div id="galleries-index">
    </div>

  <div id="rentee-description">
    <p> bio: bla bla bla this is a paragraph</p>
  </div>

  <!-- MAP -->
  <div id="map"></div>

  <!-- RENTED/RENTING ARTWORKS -->
  <div id="rented-artworks-index">
    <h1> Rented artworks </h1>
    <p> populate rented artworks here </p>
  </div>
</div>